package ${codePointsClass.PackageName};

import org.terasoluna.gfw.common.codepoints.CodePoints;

/**
 *  ${codePointsClass.Description}
 */
public final class ${codePointsClass.ClassName} extends CodePoints {
    private static final long serialVersionUID = 1L;

    /**
     * コンストラクタ
     */
    public ${codePointsClass.ClassName}() {
        super(
#set( $length = $codePointsClass.Characters.size() - 1 ) 
#set( $i = 0 )
#foreach( $character in ${codePointsClass.Characters} )
    #set( $cpLength = ${character.CodePointLength} - 1 )
    #if( $cpLength == 1 )
        #set ( $comment = "合成文字" )
    #else
        #set ( $comment = "" )
    #end
    #set( $j = 0 )   
    #foreach($codePoint in $character.CodePoints)    
        #if( $i == $length && $j == $cpLength )
            0x${codePoint} // ${character.glyph}(${character.men}-${character.ku}-${character.ten}) ${comment}   
        #else
            0x${codePoint}, // ${character.glyph}(${character.men}-${character.ku}-${character.ten}) ${comment}
        #end        
        #set( $j = $j + 1 ) 
    #end    
    #set( $i = $i + 1 )
#end
        );
    }
}